<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow lg">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                ID: {{employee.sno |uppercase}}
                            </li>
                            <li class="list-group-item">
                                Name: {{employee.name |titlecase}}
                            </li>
                            <li class="list-group-item">
                                Age: {{employee.age |number :'2.2'}}yrs
                            </li>
                            <li class="list-group-item">
                               Designation : {{employee.designation |uppercase}}
                            </li>
                            <li class="list-group-item">
                                Doj: {{employee.doj | date:'dd/mm/yyyy'}}
                            </li>
                            <li class="list-group-item">
                                Salary: {{employee.salary | currency :'INR'}}
                            </li>
                            <li class="list-group-item">
                                Json: <pre>{{employee | json}}</pre>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
