<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <p class="h4">Counter</p>
                    </div>
                    <div class="card-body">
                        <p class="h2">{{count}}</p>
                        <button (click) = "incrCounter()" class="btn btn-primary btn-sm p-2 m-2">increment</button>
                        <button (click) = "decrCounter()" class="btn btn-danger btn-sm p-2 m-2">Decrement</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
